<div class="col">
    <div class="card">
        <img src=home.src class="card-img-top" alt="Home with the beautiful Interiors ,inspried by the state kerala">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5></h5>
                </div>
                <div class="col text-end">
                    <h5>$591.26(Rs.50,000)</h5>
                </div>
            </div>
            <p class="card-text">A Grand Wooden Windows with ornate carvings,often decorated with brass studs or 
                motifs,welcomes visitors.Having a central Courtyard(called Aangan),in the middle of the home,is a spot to make the 
                timeless memories with our loved onces.Wide verandas supported by intricately carved wooden Pillars are a common features,
                these areas provide shade and serve as an extention of the livng space.
            </p>
            <a href="#" class="btn btn-primary">Explore Now</a>
        </div>
    </div>
</div>