<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

    <title>AAPKA KHUDKA GHAR</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">AAPKA GHAR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#home">HOME</a>
                        <a class="nav-link active" href="#about">ABOUT</a>
                        <a class="nav-link active" href="#product">FEATURE</a>
                        <a class="nav-link active" href="#contact">CONTACT</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="jumbotron" class="container-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to <span>AAPKA KHUDKA GHAR</span> <br>
                Its's been Waiting for you since a long time </h1>
            <p class="display-6">If you are looking for a Home in the world of Houses then, Congratulations !!! <br>
                You are on the right spot .<br> Bangaluru,karnataka,India</p>
        </div>
    </div>

    <main>
        <div id="home" class="container px-5">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                <div class="col align-self-center homedes">
                    <h1> WELCOME HOME !!!</h1>
                    <p>The Aesthetic Indian Houses which comforts you as Home is a perfect spot to spent this vacation.</p>
                </div>
                <div class="col homeimg">
                    <img src=" ../../assets/home10.jpg" alt="house">
                </div>
            </div>
        </div>

        <div id="about" class="container-fluid">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-4 justify-content-center">
                    <div class="col">
                        <div class="wrap">
                            <img src=" ../../assets/chat.png" alt="chat">
                            <p>Easy and Safe<br><span>Find your many real property type.</span></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap">
                            <img src=" ../../assets/chat.png" alt="chat">
                            <p>Invesment Property<br><span>On the resident platform</span></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap">
                            <img src=" ../../assets/chat.png" alt="chat">
                            <p>Licenses and Contracts<br><span>Contrary to populer</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="product" class="container pt-5">
            <div>
                <h1>Feature OF AAPKA GHAR</h1>
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col prodcolp">
                        <div class="prodp">An Old,Beautiful Indian Houses is a Timeless Blend of Traditional Architechture
                            ,Rich Culture,and Intricate Craftsmanship.
                        </div>
                    </div>
                    <div class="col text-start text-lg-end">
                        <a href="#" class="btn btn-secondary btn1">View All</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 cols-sm-2 row-cols-lg-3 row-cols-xxl-4 justify-content-center">
                <div class="col">
                    <div class="card">
                        <img src=" ../../assets/house6.jpg" class="card-img-top" alt="Home with the beautiful Interiors ,inspried by the state kerala">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5>Home of Love</h5>
                                </div>
                                <div class="col text-end">
                                    <h5>$591.26(Rs.50,000)</h5>
                                </div>
                            </div>
                            <p class="card-text">A Grand Wooden Windows with ornate carvings,often decorated with brass studs or 
                                motifs,welcomes visitors.Having a central Courtyard(called Aangan),in the middle of the home,is a spot to make the 
                                timeless memories with our loved onces.Wide verandas supported by intricately carved wooden Pillars are a common features,
                                these areas provide shade and serve as an extention of the livng space.
                            </p>
                            <a href="#" class="btn btn-primary">Explore Now</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src=" ../../assets/home11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5>Home of Peace in the Womb of Nature</h5>
                                </div>
                                <div class="col text-end">
                                    <h5>$768.64(Rs.65,000)</h5>
                                </div>
                            </div>
                            <p class="card-text">An Old Indian House Surrounded by Lush Greenery is a Serene and picturesque retreat,embodying harmony between architecture and Nature
                                This old Indian House is more than just a dwelling-it is a sanctuary that breathes life into its inhabitants,offering a timeless connection to the nature,culture, and Traditions.
                            </p>
                            <a href="#" class="btn btn-primary">Explore Now</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src=" ../../assets/house4.jpg" class="card-img-top" alt="The Home of Lights">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5>The Home of Lights</h5>
                                </div>
                                <div class="col text-end">
                                    <h5>$1.182,590(Rs.1,00,000)</h5>
                                </div>
                            </div>
                            <p class="card-text">An Indian Home filled with lights is a radiant spectacle,exuding warmth,joy and festivity.
                                The Home becomes a glowing Heaven,its glowing heaven,its Beauty amplified by the interplay of traditions decor and shimmering illumination.
                                From the courtyard to the balconies,the house radiates joy.The Light seemto carry a deeper message:a celebration of life
                                ,love and togetherness,transforming the home into a luminous masterpiece that feels as warm as the hearts of those who live within.
                            </p>
                            <a href="#" class="btn btn-primary">Explore Now</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src=" ../../assets/home-end.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5>Home of beautiful Interiors</h5>
                                </div>
                                <div class="col text-end">
                                    <h5>$600,000(Rs.67,651)</h5>
                                </div>
                            </div>
                            <p class="card-text">
                                A beautiful Indian home inspired by the culture of Andhra Pradesh would seamlessly blend traditional aesthetics with functional design, capturing the region’s rich heritage and artistry
                                Lighting: Traditional hanging brass lamps and wall-mounted lanterns provide a warm, inviting glow.
                            <br>Garden: A lush space with flowering plants like jasmine and hibiscus. Stone pathways lead to a swing under a neem or mango tree.
                            This home would be a celebration of Andhra’s rich cultural tapestry, offering warmth, vibrancy, and a sense of rootedness.</p>
                            <a href="#" class="btn btn-primary">Explore Now</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src=" ../../assets/home9.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5>Home representing Indian Rich and varity Heritage</h5>
                                </div>
                                <div class="col text-end">
                                    <h5>$568.000(Rs.48,38)</h5>
                                </div>
                            </div>
                            <p class="card-text">A home inspired by Rajasthan interiors would be a vibrant, regal space 
                                that reflects the grandeur of the state's palaces and havelis while incorporating traditional craftsmanship and earthy charm.
                                Textiles:
                                Bold prints like Bandhani, Sanganeri, and leheriya are used for curtains, cushions, and wall tapestries.
                                Artifacts:
                                Decorative items include puppets, camel figurines, and enamel vases. Walls might also have mudwork or mirror-inlaid panels.
                                This Rajasthani-inspired home would exude grandeur, cultural richness, and the timeless elegance of royal India while remaining warm and welcoming</p>
                            <a href="#" class="btn btn-primary">Explore Now</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src=" ../../assets/home7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5>Home of Modernization with the Touch of Traditionism</h5>
                                </div>
                                <div class="col text-end">
                                    <h5>$200.000(Rs.16,912)</h5>
                                </div>
                            </div>
                            <p class="card-text">A modern house inspired by Indian old culture merges contemporary design elements with traditional craftsmanship and cultural motifs.
                                 This fusion creates a home that is stylish, functional, and deeply rooted in India's heritage. <br>
                                 Art and Textiles:
                                 Curtains and cushions in traditional fabrics like Chanderi, Kalamkari, or Ajrakh prints.
                                 Wall hangings and tapestries with mirror work or embroidery.
                                 This modern yet culturally inspired home creates a harmonious balance, offering a timeless feel with all the conveniences of contemporary living</p>
                            <a href="#" class="btn btn-primary">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact" class="container-fluid">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ContactUs">
                Contact Us
            </button>
        </div>

        <div class="modal fade" id="ContactUs" tabindex="-1" aria-labelledby="ContactUsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ContactUsLabel">Contact us</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="FormControlInput1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="FormControlInput1"
                                placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="FormControlTextarea1" class="form-label">Message</label>
                            <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="containerlast">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                    <div class="col">
                        <ul>
                            <li><h4>About</h4></li>
                            <li><a href="">Privacy Notice</a></li>
                            <li><a href="">Our Service</a></li>
                            <li><a href="">Terms of Use</a></li>
                            <li><a href="">Our Company</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Advertise with Us</a></li>
                            <li><a href="">Copyright</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><h4>Product</h4></li>
                            <li><a href="">House</a></li>
                            <li><a href="">Kitchen</a></li>
                            <li><a href="">GuestHouse</a></li>
                            <li><a href="">Hotel</a></li>
                            <li><a href="">Meeting room</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><h4>Get Help</h4></li>
                            <li><a href="">Customer Service</a></li>
                        </ul>
                    </div>
                    <div class="col footlast">
                        <h4>Follow Us</h4>
                        <ul>
                            <li><a class="fa fa-facebook-official" href=""></a></li>
                            <li><a class="fa fa-instagram" href=""></a></li>
                            <li><a class="fa fa-google-plus" href=""></a></li>
                            <li><a class="fa fa-whatsapp" href=""></a></li>
                            <li><a class="fa fa-twitter" href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <div class="createdown">
    <img src=" ../../assets/harinilogo.jpg" alt="harini_logo" />
    <p>Developed by Harini R (Designed with ❤)</p>
    </div>
</body>

</html>